<div [ngStyle]="{ backgroundColor: generateBackgroundColor() }">
  <h1 class="display-1">Pokédex</h1>

  <div class="alert alert-danger" *ngIf="error">
    <h2>Une erreur est survenue !</h2>
    <p>{{ error }}</p>
  </div>

  <h2 class="display-3">My Pokémons</h2>
  pokémons: {{ pokemons.length }}

  <form>
    <div class="form-group">
      <label for="nameInput">Nom</label>
      <input type="text" name="pokemonName" class="form-control" [(ngModel)]="pokemonName" />
    </div>

    <div class="form-group">
      <label for="typeSelect">Type</label>
      <select
        name="pokemonType"
        class="form-control form-select"
        id="typeSelect"
        [(ngModel)]="pokemonType"
      >
        <option *ngFor="let pokemonType of pokemonTypeEnum | keyvalue" [value]="pokemonType.key">{{ pokemonType.value }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" (click)="addPokemon()">
      add pokémon
    </button>
  </form>

  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="isLoading"
  ></div>

  <ng-container *ngIf="!isLoading">
    <app-pokemon-item
      class="pokemon-background-type-{{ pokemon.type }}"
      [name]="pokemon.name"
      *ngFor="let pokemon of pokemons"
    >
    </app-pokemon-item>
  </ng-container>
</div>
