<div [ngStyle]="{ backgroundColor: generateBackgroundColor() }">

  <h1 class="display-1" [ngClass]="{ 'is-white': addButtonClicked, 'is-red': !addButtonClicked }">Pokédex</h1>

  <h2 class="display-3">My Pokémons</h2>
  pokémons: {{ nbCaught }}

  {{ pokemonName }}

  <input #nameInput type="text" [(ngModel)]="pokemonName" />

  <div *ngIf="addButtonClicked">pokémon added !</div>
  <div *ngIf="removeButtonClicked">pokémon removed !</div>

  <div>
    <button class="btn btn-primary" (click)="addPokemon()">add pokémon</button>
  </div>


  <app-pokemon-item appBasicHighlight="black" defaultColor="red" [name]="pokemon" *ngFor="let pokemon of pokemons">
  </app-pokemon-item>
</div>
