/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$pokemon-type-colors: (
  GRASS: green,
  FIRE: orange,
  WATER: blue,
  POISON: purple,
);

@each $name, $hex in $pokemon-type-colors {
  .pokemon-background-type-#{$name} {
    background-color: $hex;
  }
}